
.container{
    background-color:rgb(208, 223, 208);
    width: 450px;
    height: 300px;
    border: 2px solid darkgreen;
    border-radius: 10px;
}

body{
    background-image: url("imagem1.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    
}

h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}



button{
    border: 2px solid darkgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    
}


#increment-btn{
    background-color: darkseagreen;
}

#save-btn{
    background-color: darkolivegreen;
}

#save-el{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}