#linha{
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
    background-color:#2F3E53;

    border: 0.5px solid #2F3E53;
    position: absolute;
}

#container{
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;

    background: #1F2937;
}

body{
    width: 1253px;
    height: 678px;
    position: absolute;

    background: #1C1C1C;
}

h1{

    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 86px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.025em;

    /* white */

    color: #FFFFFF;
}

h3{
    /* Supporting text */
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 174px;

    /* text-xl/leading-7/font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #D5D4D8;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;

    
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;

    background: #10B981;
    /* shadow/sm */

    position:absolute;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;


    /* Text ****************************/
    /* text-base/leading-6/font-medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#caixa1{
    /* Rectangle 99 */
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;

    /* Text */
    position: absolute;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
    
}

#caixa2{
    /* Rectangle 100 */
    position: relative;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;

    background: #273549;
    border-radius: 6px;

    /* Text */
    position: absolute;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991; 
}


select{
    padding: 9px 17px 9px 15px;

    width: 260px;
    height: 39px;
    left: 53px;
    top: 231.5px;
    position: absolute;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;

    background:  #10B981;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


#button1{
    position: absolute;
    width: 35px;
    height: 33px;
    left: 225px;
    top: 399px;
    cursor: pointer;  
}

#button2{  
    position: absolute;
    width: 35px;
    height: 33px;
    left: 460px;
    top: 399px;
    z-index: 1;
    cursor: pointer;
}

.slider{
    background:#ccc ;
    
    position: absolute;
    width: 40px;
    height: 20px;
    left: 346px;
    top: 239px;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 20px;
    cursor: pointer;
    
}

.button4{
    background:   #273549;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    padding: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    transition: all 300ms ease-in-out
}

.toggle-input:checked ~ .slider > .button4{
   background: #10B981;
   left: 23px;
}

.toggle-input{
    display: none;
}

#simbol{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 396px;
    top: 222px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    /* or 175% */
    
    transition: all 300ms ease-in-out;
    /* Medium grey */
    
    color: #D5D4D8;
}


.slider2{
    background:#ccc ;
    
    position: absolute;
    width: 40px;
    height: 20px;
    left: 346px;
    top: 290px;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 20px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    
}

.button5{
    background:   #273549;
    border: none;
    width: 15px;
    height: 15px;
    left: 3px;
    top: 3px;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    transition: all 300ms ease-in-out
}

.toggle-input2:checked ~ .slider2 > .button5{
   background: #10B981;
   left: 23px;
}

.toggle-input2:checked ~ #number{
    color: #10B981;
}

.toggle-input:checked ~ #simbol{
    color: #10B981;
}

.toggle-input2{
    display: none;
}


#number{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 396px;
    top: 274px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    /* or 175% */
    
    transition: all 300ms ease-in-out;
    /* Medium grey */
    
    color: #D5D4D8;
}